$font--family-slab: "Slabo 13px", serif;
$font--family-sans: "Open Sans", sans-serif;

$color--brand-greenMediumSea: #44af69;
$color--brand-pinkCarmine: #f8333c;
$color--brand-yellowTangerine: #fcab10;
$color--brand-greenLightSea: #2b9eb3;
$color--brand-greyTimberWolf: #dbd5b5;

$color--greyscale-white: #ffffff;
$color--greyscale-black: #000000;
$color--greyscale-grey: #666666;
